/*  Common CSS start  */
body{}
/*  Common CSS end  */

/*  Header start  */
header{}
.container {
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
	border: 1px solid red;
}

.logo {
	width: 10%;
	float: left;
	border: 1px solid black;
}
.logo a{
	display: block;
}
.logo a img{
	width: 100%;
}

.menu {
	width: 50%;
	float: right;
	border: 1px solid black;
}
.menu ul{
	display: block;
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 0.5px 25px;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 400;
	color: #0F2656;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #008AFF;
}
/*  Header end  */